.auth-container {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

.section-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #ffffff;
}

.section-a-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 114, 238);
  width: 100%;
  min-height: 65px;
  margin-bottom: 15%;
}

.section-a-header-logo {
  font-family: "Kaushan Script", cursive;
  font-size: 28px;
  color: white;
}

.section-b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: var(--gradient-background-login-info);
}

@media (max-width: 940px) {
  .section-a {
    width: 100%;
  }
  .section-b {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-a-header {
    margin-bottom: 10%;
  }
}
