.login-container {
  display: flex;
  flex-direction: column;
  /* background-color: grey; */
  padding: 10px;
  width: 450px;
}

.login-header-container {
  margin-bottom: 45px;
}

.login-header-container h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--dark-background-text-color);
}

.login-header-container p {
  font-size: 14px;
  color: var(--dark-background-text-color-secondary);
  /* font-weight: 300; */
}

.form-container {
  display: flex;
  /* background-color: red; */
}

.login-form {
  /* background-color: aqua; */
  width: 100%;
}

.login-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 35px;
  /* background-color: grey; */
}

.login-input label {
  font-size: 14px;
  font-weight: bold;
}

.login-input input {
  border: solid;
  border-color: #cdcaca;
  background-color: #fff;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-family: roboto;
  width: 55%;
}

.login-input input::selection {
  background: rgba(70, 69, 71, 0.4);
}

.login-input input::placeholder {
  color: #ababab;
}

.login-input input:focus {
  border: solid 1px red;
}

.forgot-password-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px #e9e9e9;
}

.forgot-password-container span {
  font-size: 14px;
  font-weight: bold;
  color: rgba(29, 53, 196, 1);
  cursor: pointer;
}

.login-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.rememberme-checkbox {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  text-align: end;
  color: var(--dark-background-text-color-secondary);
}

.rememberme-checkbox input {
  margin-right: 10px;
}

.login-btn {
  border: solid 1px rgba(29, 53, 196, 1);
  color: #fff;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  font-family: Roboto;
  cursor: pointer;
  font-size: 14px;
  background-color: rgba(29, 53, 196, 1);
}

.login-footer-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--dark-background-text-color-secondary);
}

.login-footer-container strong {
  color: rgba(29, 53, 196, 1);
  font-size: 14px;
  cursor: pointer;
}
