.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--gradient-background);
  height: 65px;
  width: 100%;
}

.header-container p {
  margin: 0;
  color: var(--normal-text-color);
}
