.resetpassword-container {
  display: flex;
  flex-direction: column;
  /* background-color: grey; */
  padding: 10px;
  width: 450px;
}

.resetpassword-header {
  margin-bottom: 65px;
}

.resetpassword-header h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--dark-background-text-color);
}

.resetpassword-header p {
  font-size: 14px;
  color: var(--dark-background-text-color-secondary);
}

.resetpassword-form {
  margin-bottom: 65px;
}

.resetpassword-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetpassword-footer strong {
  color: rgba(29, 53, 196, 1);
  font-size: 14px;
  cursor: pointer;
}
