.resetpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.resetpassword-header {
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 435px;
}

.resetpassword-header h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--dark-background-text-color);
}

.resetpassword-header p {
  font-size: 14px;
  color: var(--dark-background-text-color-secondary);
}

.resetpassword-form {
  margin-bottom: 65px;
  display: flex;
  width: 100%;
  max-width: 435px;
}

.resetpassword-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetpassword-footer strong {
  color: rgba(29, 53, 196, 1);
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .resetpassword-header {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    width: auto;
  }

  .resetpassword-form {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  .resetpassword-footer {
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .signup-footer-container {
    margin-bottom: 35px;
  }
}
