.full-container-dropdown {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 65px;
}

.user-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 19px;
}

.image-profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.no-image-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 154, 154);
  border-color: rgb(154, 154, 154);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.user-data {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
}

.user-data .user-data-name {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: auto;
  text-transform: capitalize;
}

.user-data .user-data-email {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: auto;
}

.menu-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-button-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  min-height: 135px;
  min-width: 180px;
  z-index: 2;
  margin-top: 25px;

  border: 1px solid white;
  border-radius: 5px;

  background-color: #fff;
  box-shadow: 0px 0px 20px 5px rgb(9 9 12 / 15%);
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 2000 ease;
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 2000 ease;
}

.dropdown-container::before {
  position: relative;
  top: -14px;
  right: -75px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fffdfd;
  content: "";
  z-index: 2;
}

.user-info_menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.dropdown-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
